<!-- <footer>
    <div class="footer_info">
        <div class="social_medias">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="footer_brandname">&copy; RausNews24x7</div>
        <div class="footer_linkes">
            <a href="/privacy" style="color: rgb(0, 0, 0);">Pivacy</a>
            <a href="/terms" style="color: rgb(0, 0, 0);">Terms</a>
        </div>
    </div>
</footer>    -->


<style>

.foter {
  /* #333 */
  background-color: #333;
  color: var(--primary-color);
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  gap: 10px;
}

.auto {
  position: fixed;
  bottom: 35px;
  width: 120px;
  margin: 0px -45px;
}
#right {
  font-size: 15px;
  font-weight: 900;
}
#somelink {
  margin-bottom: 5px;
  font-family: initial;
  font-weight: 400;
  font-size: 11px;
}

.footer {
  height: 400px;
  width: 100%;
  /*  old fotter */
  background-color: #440671;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.myfooter {
  height: 293px;
  width: 95%;
  display: flex;
}
.myfooter a {
  text-decoration: none;
  color: lavenderblush;
  opacity: 0.5;
  /* font-family: 'Kanit', sans-serif; */
  text-transform: capitalize;
  font-size: 15px;
  font-weight: lighter;
}
.myfooter a:hover {
  opacity: 1;
  cursor: pointer;
  text-decoration: underline;
}
.myfooter i {
  margin-right: 5px;
}
.footer-copyright {
  height: 5rem;
  width: 100%;
  background-color: #440671;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frow1 {
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  flex-direction: column;
  width: 10%;  
  cursor: pointer;
}

.img {
  height: 80px;
}
.frow2 {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: baseline;
  align-items: center;
  margin-top: 15px;
}
.frow2 a {
  display: flex;
  margin-top: 15px;
  font-weight: 500;
}
.frow3 a {
  display: flex;
  margin-top: 15px;
  font-weight: 500;
}
.frow4 a {
  display: flex;
  margin-top: 15px;
  font-weight: 500;
}

.frow3 {
  margin-top: 40px;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}
.frow4 {
  margin-top: 15px;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}
.right {
  color: #fff;
  text-align: center;
}
ul li
{
  list-style: none;
}
@media (max-width: 658px) 
{
  .myfooter 
  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .frow1 {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: column;
    width: 10%;
    gap: 1rem; 
  }
  .frow1,
  .frow2,
  .frow3,
  .frow4 {
    width: 100%;
  }
  .frow4 {
    margin-top: 2rem;
  }
  .footer {
    height: 62rem;
    width: 100%;
  }
  .frow3 {
    margin-top: 0px;
  }
  .footer-copyright 
  {
    height:3.5rem;
    padding: 1rem;
    padding-right: 1rem;
  }
  .footer a {
    opacity: 1;
  }
}
</style>
  <!-- footer -->
  <footer class="footer">
    <!-- bottom menu -->
    <div class="myfooter">
        <!-- <div class="frow1">
            <img src="/photos/rausnotes39_logo.png" class="img" alt="logo">
            <img src="/photos/qrcode.png" alt="qrcode" height="100px" width="100px">
        </div> -->
        <div class="frow2">
            <h3>Social meadia links</h3>
            <ul>
                <li> <a href="https://wa.link/by8byy" target="_blank"><i
                            class="fa-brands fa-whatsapp"></i>whatsapp</a></li>
                <li> <a href="https://instagram.com/raushan__39?igshid=NGExMmI2YTkyZg==" target="_blank"><i
                            class="fa-brands fa-instagram" target="_blank"></i>instagram</a></li>
                <li> <a href="https://www.linkedin.com/in/raushan-kumar-964a75255" target="_blank"><i
                            class="fa-brands fa-linkedin"></i>linkedin</a></li>
                <li> <a href="mailto:raushankumar23082004@gmail.com" target="_blank"><i
                            class="fa-regular fa-envelope"></i>Email</a></li>
                <li> <a href="https://t.me/+917631867534" target="_blank"><i
                            class="fa-brands fa-telegram"></i>telegram</a></li>
                <li> <a href="tel:+91 763 1867 534" target="_blank"><i class="fa-solid fa-phone"></i>phone</a></li>
            </ul>
        </div>
        <div class="frow3">
            <ul>
                <li><a href="https://discord.com/invite/ykh35QgtU5" target="_blank"><i
                            class="fa-brands fa-discord"></i>discord</a></li>
                <li><a href="https://www.facebook.com/profile.php?id=61554941665692&mibextid=ZbWKwL"
                        target="_blank"><i class="fa-brands fa-facebook"></i>facebook</a></li>
                <li><a href="https://x.com/RaushanKum11066?t=EW6TRRFWQX4lzqeSePZW4w&s=09" target="_blank"><i
                            class="fa-brands fa-x-twitter"></i>twitter</a></li>
                <li><a href="https://www.youtube.com/@RaushanKumar-dt3pv" target="_blank"><i
                            class="fa-brands fa-youtube"></i>youtube</a></li>
                <li><a href="https://github.com/CoderRaushan" target="_blank"><i
                            class="fa-brands fa-github"></i>github</a></li>
                <li><a href="robots.txt"><i class="fa-brands fa-snapchat" target="_blank"></i>robots</a></li>
            </ul>
        </div>
        <div class="frow4">
            <h3>Useful links</h3>
            <ul>
                <li><a href="/temp/index.html" target="_blank"><i class="fa-solid fa-briefcase"></i>TEMP</a></li>
                <li><a href="notes/notes_section.html" target="_blank"><i class="fa-solid fa-book"></i></i>notes</a>
                </li>
                <li><a href="sgpa/sgpa_page.html" target="_blank"><i
                            class="fa-solid fa-calculator"></i>calculator</a></li>
                <li><a href="toss/toss.html" target="_blank"><i class="fa-solid fa-coins"></i>toss</a></li>
                <li><a href="/weather/weather.html"><i class="fa-solid fa-cloud"></i></i>weather</a></li>
                <li><a href="/game/color_genetator.html" target="_blank"><i class="fa-solid fa-gamepad"></i>Game</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <p class="right">&copy; 2024 RausNews24x7 All Rights Reserved by RausNews24x7 | Designed by Raushan kumar</p>
    </div>
</footer>