
<style>
  .logo_photo
  {
    
  }
</style>
<nav class="navbar border-bottom navbar-expand-md sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/news"><img id="logo" class="logo_photo" src="/logos/rausnews24x7_logo_2.png" alt="logo"> RausNews24x7</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/news">All News</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button id="btn-search" class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/news/new">Post News</a>
        <% if(!currUser) { %>
          <a class="nav-link_for_login_signup" href="/signup"><b>Sign Up</b> </a>
          <a class="nav-link_for_login_signup" href="/login"><b>Log In</b> </a>
          <%} %>
            <% if(currUser) { %>
              <a class="nav-link_for_login_signup" href="/logout"><b>Log Out</b></a>
              <%} %>
      </div>
    </div>
  </div>
</nav>