<style>
    #filters {
        display: flex;
        cursor: pointer;
        overflow-x: auto;
        margin-left: 12px;
        scrollbar-width: none;
        /* Firefox */
    }

    #filters::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Edge */
    }

    .filter {
        text-align: center;
        margin-right: 2rem;
        margin-top: 2rem;
        opacity: 0.7;
    }

    .filter:hover {
        opacity: 1;
    }

    .filter p {
        font-size: .9rem;
    }

    .filter a {
        text-decoration: none;
        color: black;
    }
</style>
<div id="filters">
    <div class="filter">
        <a href="/news/Trending">
            <div><i style="background: none;" class="fa-solid fa-fire"></i></div>
            Trending
        </a>
    </div>
    <div class="filter">
        <a href="/news/Entertainment">
            <div><i style="background: none;" class="fa-solid fa-baseball"></i></div>
            Entertainment
        </a>
    </div>
    <div class="filter">
        <a href="/news/Cricket">
            <div><i style="background: none;" class="fa-solid fa-baseball-bat-ball"></i></div>
            cricket
        </a>
    </div>
    <div class="filter">
        <a href="/news/FootBall">
            <div><i style="background: none;" class="fa-solid fa-futbol"></i></div>
            FootBall
        </a>
    </div>
    <div class="filter">
        <a href="/news/Cities">
            <div><i style="background: none;" class="fa-solid fa-city"></i></div>
            Cities
        </a>
    </div>
    <div class="filter">
        <a href="/news/Education">
            <div><i style="background: none;" class="fa-solid fa-school"></i></div>
        </a>
        Education
    </div>
    <div class="filter">
        <a href="/news/WorldNews">
            <div><i style="background: none;" class="fa-solid fa-globe"></i></div>
            WorldNews
        </a>
    </div>
    <div class="filter">
        <a href="/news/Science">
            <div><i style="background: none;" class="fa-solid fa-flask"></i></div>
            Science
        </a>
    </div>
    <div class="filter">
        <a href="/news/Election">
            <div><i style="background: none;" class="fa-solid fa-microscope"></i></div>
            Election
        </a>
    </div>
    <div class="filter">
        <a href="/news/Weather">
            <div><i style="background: none;" class="fa-solid fa-cloud"></i></i></div>
            Weather
        </a>
    </div>
    <div class="filter">
        <a href="/news/Technology">
            <div><i style="background: none;" class="fa-solid fa-microchip"></i></div>
            Technology
        </a>
    </div>
    <div class="filter">
        <a href="/news/Business">
            <div><i class="fa-solid fa-business-time"></i></div>
            Business
        </a>
    </div>
    <div class="filter">
        <a href="/news/Health">
            <div><i class="fa-solid fa-laptop-medical"></i></div>
            Health
        </a>
    </div>
    <div class="filter">
        <a href="/news/Sports">
            <div><i class="fa-solid fa-person-running"></i></div>
            Sports
        </a>
    </div>
    <div class="filter">
        <a href="/news/Environment">
            <div><i class="fa-solid fa-seedling"></i></div>
            Environment
        </a>
    </div>
    <div class="filter">
        <a href="/news/Crime">
            <div><i class="fa-solid fa-people-robbery"></i></div>
            Crime
        </a>
    </div>
    <div class="filter">
        <a href="/news/Lifestyle">
            <div><i class="fa-solid fa-people-line"></i></div>
            Lifestyle
        </a>
    </div>
    <div class="filter">
        <a href="/news/Opinion">
            <div><i class="fa-solid fa-gavel"></i></div>
            Opinion
        </a>
    </div>
</div>


