body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* navbar css styles  */
.navbar
{
    height: 5rem;
    background-color: #591c85;
}
.nav-link
{
    color:white;
    background-color: #591c85;
}
.nav-link_for_login_signup
{
    color: black;
    background-color: #00ed63;
    padding: 10px 18px;
    text-decoration: none;
    margin-right: 1rem;
    border: 2px solid white;
}
.nav-link_for_login_signup:hover
{
    transition: background-color 3s ease-in-out;
    border-radius: 4rem;
}
.nav-link:hover {
    color: #fff;
}
#btn-search
   {
    border-radius: 25rem;
    padding: 0 1rem 0 1rem;
    color: black;
    background-color: #00ed63;
   }
  #btn-search i
  {
    background: none;
    margin-right: 6px;
    display: inline;
  }

  #logo
  {
    margin-top: -6px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
.navbar-brand
{
  color: white;
  font-weight: 500;
}
.navbar-brand:hover
{
  color: #fff;
}
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="white"><path stroke="rgba(255, 255, 255, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}
/* footer css styles */
.footer_info a
{
 text-decoration: none;
 color: #000000;
}

.footer_info a:hover
{
 text-decoration:underline;
}

.footer_info
{
    height: 8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.card_parent_container
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.social_medias,.footer_linkes,.footer_brandname
{  
    text-align: center;
    font-size: 1.1rem;
    width: 100%;
}
.social_medias i{
    margin-right: 1rem;
}

/* card styling  */
.card
{  
    cursor: pointer;
    border: none;
    margin-bottom: 2rem;
    padding:.5rem;
}
.card-img-top
{
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}
.card-body
{
    padding: 0;
    font-weight: 500;
}
.card_anchor_tag
{
    text-decoration: none;
}

/* share icon style  */
.card-img-overlay
{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

/* show page  */
.custom_img
{
    height: 400px;
}