<% layout("/layouts/boilerplate") -%>
   
    <div class="card_parent_container row-col-lg-3  row-col-md-3 row-col-sn-1 mt-3">
        <% for(let cricket of news) { %>
            <a class="card_anchor_tag" href="<%= cricket._id %>">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top" src="<%= cricket.image.url %>" style="height: 20rem;"
                        alt="<%=cricket.image.filename %>">
                    <div class="card-img-overlay"></i><i class="fa-solid fa-heart"></i><i
                            class="fa-solid fa-arrow-up-from-bracket"></i></div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>
                                <%= cricket.title %>
                            </b>
                        </p>
                    </div>
                </div>
            </a>
            <%} %>
    </div>

    